<!DOCTYPE html>
<!-- saved from url=(0055)https://getbootstrap.com/docs/4.1/examples/jumbotron/?# -->
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://getbootstrap.com/favicon.ico">
    <link rel="stylesheet" href="~/css/HomeStyle.css"/>

    <title>Jumbotron Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="./Bootstrap_files/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="./Bootstrap_files/jumbotron.css" rel="stylesheet">
    <style>
        .assignments{
            margin-left: 200px;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="">Michael Chaffer</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="https://getbootstrap.com/docs/4.1/examples/jumbotron/?#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://getbootstrap.com/docs/4.1/examples/jumbotron/?#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="https://getbootstrap.com/docs/4.1/examples/jumbotron/?#">Disabled</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="http://example.com/" id="dropdown01" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="https://getbootstrap.com/docs/4.1/examples/jumbotron/?#">Action</a>
                        <a class="dropdown-item" href="https://getbootstrap.com/docs/4.1/examples/jumbotron/?#">Another
                            action</a>
                        <a class="dropdown-item" href="https://getbootstrap.com/docs/4.1/examples/jumbotron/?#">Something
                            else here</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <main role="main">
        <div class="jumbotron">
            <div class="container">
                <h1 class="display-3">Hello, world!</h1>
                <p>This is a template for a simple marketing or informational website. It includes a large callout
                    called a jumbotron and three supporting pieces of content. Use it as a starting point to create
                    something more unique.</p>
                <p>
                <a class="btn btn-primary btn-lg" href=""role="button">Learn more »</a></p>
                <p><a class="btn btn-secondary" href="CSProjects" role="button">C# Projects »</a></p>
            </div>
            
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h2>AngularAuto</h2>
                    <p>While learning JS front-end frameworks projects, I quickly grew tiresome of building projects from scratch, each time requiring a total of 24+ steps. This JS program needs just a project name, and it'll return a string ready for your command prompt. Enter the string and your ENTIRE new project is built (usual values added), files opened, and servers up and running. Too good to be true? Try it!</p>
                    <p><a class="btn btn-secondary" href="AngularAuto" role="button">AngularAuto »</a></p>
                </div>
                <div class="col-md-4">
                    <h2>ForwardDojo</h2>
                    <p>My favorite project I built during school. Written in C# and ASP.net. This project is a prototype career website application, where a user can search, view, save and apply for current, and up to date, tech job.</p>
                    <p><a class="btn btn-secondary" href="ForwardDojo" role="button">ForwardDojo »</a></p>
                </div>
                <div class="col-md-4">
                    <h2>DjangoAuto</h2>
                    <p>Built using python3, this project is a similar, but upgraded version of AngularAuto for python3\Django projects. Unlike AngularAuto, this version requires no copy and paste. Just enter your Project name, hit run, and watch it automatically build the necessary components. Since a majority of our class projects required a Login/Register page, a User Table database model and html page have been included in the build.</p>
                    <p><a class="btn btn-secondary" href="DjangoAuto" role="button">DjangoAuto »</a></p>
                </div>
            </div>
        </div>
    </main>


    <script src="./Bootstrap_files/jquery-3.3.1.slim.min.js.download" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="./Bootstrap_files/popper.min.js.download"></script>
    <script src="./Bootstrap_files/bootstrap.min.js.download"></script>
</body>
</html>